<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>****Layout****</title>
</head>
<body>
     <main class="caja-principal">
    <aside>
        <header>BARRA DE HERRAMIENTAS</header>
    </aside>
    <section class="contenido-principal3">
        <section class="caja1">
           <article>CONTENIDO SECUNDARIO</article>
        </section>
    
    <main class="contenido-principal2">
        <section class="caja2">
            <header>SUB BARRA DE HERRAMIENTAS</header>
        </section>
        <section class="caja3"></section>
    </main>
    </section>
    
</body>>
</html>